@import '../../fonts.scss';

$background-color-primary: gray;
$logo-font-size: 40px;



.header__container{
    width: 100vw;
    height: 10vh;
    background-color: $background-color-primary;

    .header__wrapper{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .header__logo-container{
            font-size: $logo-font-size;
            font-family: Inter;
            font-weight: 700;
        }

        .header__search-movie{
            display: flex;
            flex-direction: row;
            gap: 10px;
            background-color: white;
            border-bottom: 3px solid black;

            .search-movie{
                border: none;
                height: 5vh;
                width: 30vw;
                font-family: Inter;
                padding-left: 10px;
                outline: none;
                background-color: none;
            }

            .search-movie-btn{
                align-items: center;
                display: flex;
                vertical-align: center;
                text-decoration: none;
                color: black;
                border: none;
                background-color: white;
            }
            
        }

    }

}